.task-form {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.task-form h2 {
  text-align: center;
  margin-bottom: 15px;
}

.task-form input,
.task-form select,
.task-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.task-form textarea {
  width: 100%;
  padding: 8px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.task-form button:hover {
  background-color: #218838;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}

.form-group label {
  margin-bottom: 1px;
  font-weight: 500;
}
